<head>
  <title>Scriptorium</title>
</head>

<template name="layout">
  <link rel="icon" href="/public/favicon.ico?v=2">
  <script type="text/javascript" src="/plugins/ckeditor/ckeditor.js"></script>
  <!--[if lt IE 9]>
    <p class="browser-warning"><strong><i class="icon-exclamation-sign"></i> Warning</strong> - You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> to properly view this website.</p>
  <![endif]-->


  <div class="wrapper">
    {{> Template.dynamic template="header"}}
      {{> Template.dynamic template=content}}
    {{> Template.dynamic template="footer"}}
  </div>
</template>
