<template name="files">

  <div class="page-wrapper">

    <!-- SIDEBAR -->
    <div class="sidebar">
      <h2><i class="fa fa-archive"></i> File Cabinet</h2>
      <p>File Cabinet is where you add and store files for reviewing and editing on your <a href="/desk">Desk</a>.</p>
      <a href="#" class="btn btn-primary btn-block"><i class="fa fa-cloud-upload"></i> Upload New File</a>
    </div>

    <!-- CONTENT CONTAINER -->
    <div class="page-content">

      <!-- IF NO FILES -->
      <!-- <div class="nofiles">
        <p>You don't have any files yet.</p>
        <a href="#" class="btn btn-lg btn-default"><i class="fa fa-cloud-upload"></i> Upload New File</a>
      </div> -->

      <!-- FILE LIST -->
      <ul class="file-cabinet">
        <li class="search">
          <input type="text" class="form-control" placeholder="Search file cabinet..."/>
        </li>
        <li>
          <i class="file-icon fa fa-file-o"></i>
          <strong>Hi-Res Manuscript Image</strong>
          <small>manuscript.jpg - 2MB</small>
          <div class="actions">
            <a class="btn btn-default"><i class="fa fa-download"></i> Download</a>
            <a class="btn btn-danger"><i class="fa fa-trash-o"></i> Delete</a>
          </div>
        </li>
        <li>
          <i class="file-icon fa fa-file-o"></i>
          <strong>Hi-Res Manuscript Image</strong>
          <small>manuscript.jpg - 2MB</small>
          <div class="actions">
            <a class="btn btn-default"><i class="fa fa-download"></i> Download</a>
            <a class="btn btn-danger"><i class="fa fa-trash-o"></i> Delete</a>
          </div>
        </li>
        <li>
          <i class="file-icon fa fa-file-o"></i>
          <strong>Hi-Res Manuscript Image</strong>
          <small>manuscript.jpg - 2MB</small>
          <div class="actions">
            <a class="btn btn-default"><i class="fa fa-download"></i> Download</a>
            <a class="btn btn-danger"><i class="fa fa-trash-o"></i> Delete</a>
          </div>
        </li>
        <li>
          <i class="file-icon fa fa-file-o"></i>
          <strong>Hi-Res Manuscript Image</strong>
          <small>manuscript.jpg - 2MB</small>
          <div class="actions">
            <a class="btn btn-default"><i class="fa fa-download"></i> Download</a>
            <a class="btn btn-danger"><i class="fa fa-trash-o"></i> Delete</a>
          </div>
        </li>
      </ul>
    </div>

  </div>

</template>
