<template name="files">
  <div class="page-wrapper">
    <!-- SIDEBAR -->
    <div class="sidebar">
      <h2><i class="fa fa-archive"></i> File Cabinet</h2>
      <p>File Cabinet is where you add and store files for reviewing and editing on your <a href="/desk">Desk</a>.</p>
      <p>You can upload files in PDF format.</p>
      <button class="btn btn-primary btn-block" data-toggle="modal" data-modal="fileUploadModal"><i class="fa fa-file-text-o"></i> Upload New File</button>
    </div>

    <!-- CONTENT CONTAINER -->
    <div class="page-content">
        <ul class="page-list file-cabinet">
          <li>
            <div class="input-group">
            <input type="text" class="form-control" name="search" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" data-action="search" type="button">Search</button>
              </span>
            </div>
          </li>
        </ul>
        {{#if files.count}}
          <ul class="page-list file-cabinet">
            <li>
              <div class="menu">
                <button class="btn btn-default" data-action="selectAll">
                  <label class="checkbox-inline">
                    <input type="checkbox">Select All
                  </label>
                </button>
                <button class="btn btn-primary" data-toggle="batchModal" data-modal="copyBatchModal">Copy</button>
                <button class="btn btn-danger" data-toggle="batchModal" data-modal="confirmBatchDeleteModal">Delete</button>
              </div>
            </li>
            {{#each files}}
              <li>
                <div class="checkbox-inline pull-left">
                  <label>
                    <input class="batch-checkbox" type="checkbox">
                    <i class="file-icon fa fa-file-o"></i>
                  </label>
                </div>
                <div class="actions">
                  <button class="btn btn-primary" data-toggle="modal" data-modal="copyModal"><i class="fa fa-files-o"></i>Copy</button>
                  <button class="btn btn-danger" data-toggle="modal" data-modal="confirmDeleteModal"><i class="fa fa-trash-o"></i> Delete</button>
                </div>
                <div class="meta">
                  <strong>
                  {{#if isEditorFile}}
                    {{title}}
                  {{else}}
                    <a href="/file/{{getFileName}}" target="_new">{{title}}</a>
                  {{/if}}
                </strong>
                <small>{{description}}</small>
                <small>{{fileType}} by {{docAuthor}} on {{date}}</small>
              </div>
            </li>
          {{/each}}
        </ul>
      {{else}}
        <div class="nofiles">
          <p>You don't have any files yet.</p>
          <button class="btn btn-lg btn-default" data-toggle="modal" data-modal="fileUploadModal"><i class="fa fa-cloud-upload"></i> Upload New File</button>
        </div>
      {{/if}}
    </div>
  </div>
</template>
