{
  "public": {
    "accountApproval": false
  },
  "approval": {
    "approverEmails": [
      "foo@bar.com",
      "bar@foo.com"
    ]
  },
  "email": {
    "fromEmail": "scriptoriumbot@scriptorium.com"
  }
}
