.welcome {
  background: #fff;
  padding: 20px;
  overflow: auto;
}

.welcome-image {
  float: right;
  width: 675px;
}

.welcome-text {
  float: left;
  padding-right: 20px;
  width: calc(~"100% - 675px");
}

.welcome a {
  font-weight: bold;
}
