<template name="welcome">
  <div class="welcome">
    <div class="welcome-text">
      <h3>You are now in your Scriptorium.</h3>

      <p>There is a navigation bar at the top of the page.
      You can also click on the colored elements in this image to get to the elements of Scriptorium.</p>

      <p>After you have set up your Scriptorium for a specific project, by furnishing it with manuscript images and research materials of your choice, you may “Save as a New Project” (see the navigation bar, top right), and after the new project has been named and saved, you can invite other researchers to the project as collaborators, using the <a href="/collaboration">Collaboration</a> link.</p>

      <p>The <a href="/desk">Desk</a> is where you can study images of manuscripts, create documents, and annotate the manuscript images.  If you have invited collaborators to your project and given them permission to edit materials, you and they can work collaboratively on documents and annotations. Documents created in <a href="/desk">Desk</a> can be saved, stored in <a href="/files">File Cabinet</a>, or exported.</p>

      <p>The <a href="/files">File Cabinet</a> is where you can store documents created in <a href="/desk">Desk</a>. You and your collaborators can also upload documents and images to share. You can provide a brief description of each file and its reason for being there. The contents of <a href="/files">File Cabinet</a> are searchable.</p>

      <p>The <a href="/bookshelf">Bookshelf</a> is where you and your collaborators can assemble reference works you want to have readily available as you work on your project. They can be online resources for which you provide URLs or URIs, or they can be pdf files you upload. You can arrange the order of the resources on the “shelves” according to your preference by dragging and dropping the “books” you create; you can also put whatever names you like for the resources on the “spines” of the “books”, and also choose whatever colors you like, using the color picker, to help you organize the categories of your resources.</p>

      <p>The <a href="/collaboration">Collaboration</a> page is where you can invite colleagues who have Scriptorium accounts to join specific projects as collaborators.  You can also remove members from your research team. The <a href="/collaboration">Collaboration</a> page also has a Communication panel, where you and your collaborators can leave messages for each other. Messages can be threaded by subject, and also are fully searchable.</p>

    </div>

    <div class="welcome-image">
      <img id="Image-Maps-Com-image-maps-2014-12-01-135137" src="/images/welcome-scriptorium.jpg" border="0" width="650" height="585" orgWidth="650" orgHeight="585" usemap="#image-maps-2014-12-01-135137" alt="" />
      <map name="image-maps-2014-12-01-135137" id="ImageMapsCom-image-maps-2014-12-01-135137">
        <area  alt="" title="" href="/desk" shape="rect" coords="461,189,603,244" style="outline:none;" target="_self"     />
        <area  alt="" title="" href="/files" shape="rect" coords="461,244,627,299" style="outline:none;" target="_self"     />
        <area  alt="" title="" href="/bookshelf" shape="rect" coords="462,299,628,354" style="outline:none;" target="_self"     />
        <area  alt="" title="" href="/collaboration" shape="rect" coords="462,354,632,409" style="outline:none;" target="_self"     />
        <area  alt="" title="" href="/folio" shape="rect" coords="463,409,633,464" style="outline:none;" target="_self"     />
        <area  alt="" title="" href="/help" shape="rect" coords="462,463,632,518" style="outline:none;" target="_self"     />
        <area  alt="" title="" href="/files" shape="rect" coords="349,334,404,414" style="outline:none;" target="_self"     />
        <area  alt="" title="" href="/help" shape="rect" coords="187,211,240,228" style="outline:none;" target="_self"     />
        <area shape="rect" coords="648,583,650,585" alt="Image Map" style="outline:none;" title="Image Map" href="http://www.image-maps.com/index.php?aff=mapped_users_0" />
        <area  alt="" title="" href="/desk" shape="poly" coords="178,369,226,386,266,387,307,380,327,367,334,350,328,335,307,322,269,334,250,328,232,339,235,366,227,369" style="outline:none;" target="_self"     />
        <area  alt="" title="" href="/collaboration" shape="poly" coords="189,276,171,328,183,346,210,273" style="outline:none;" target="_self"     />
        <area  alt="" title="" href="/folio" shape="poly" coords="210,188,275,189,273,15,211,15" style="outline:none;" target="_self"     />
        <area  alt="" title="" href="/bookshelf" shape="poly" coords="82,59,93,98,166,117,154,71" style="outline:none;" target="_self"     />
        <area  alt="" title="" href="/help" shape="poly" coords="248,203,232,237,267,230,283,196" style="outline:none;" target="_self"     />
        <area  alt="" title="" href="/help" shape="poly" coords="228,318,241,327,262,286,242,283" style="outline:none;" target="_self"     />
        <area  alt="" title="" href="/help" shape="poly" coords="264,292,279,326,297,321,285,290" style="outline:none;" target="_self"     />
        <area  alt="" title="" href="/help" shape="poly" coords="344,216,338,238,391,238,400,205,396,199,372,198,367,216" style="outline:none;" target="_self"     />
      </map>
    </div>
  </div>
</template>
