<template name="bookshelf">

  <div class="bookshelf page-wrapper">

    <!-- SIDEBAR -->
    <div class="sidebar">
      <h2><i class="fa fa-book"></i> Bookshelf</h2>
      <p>Bookshelf allows you to drag and drop resources into categories for easy reference and organization.</p>
      <p>Bookshelf items will be opened in a new browser window, so that you may continue to work on Desk while consulting Books.</p>
      <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#filesUpload"><i class="fa fa-file-text-o"></i> Upload New Document</a>
      <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#linkModal"><i class="fa fa-globe"></i> Add External Link</a>
      <a href="#" class="btn btn-default btn-block" data-toggle="modal" data-target="#categoryModal" style="margin-top: 20px;"><i class="fa fa-plus"></i> Add New Category</a>
    </div>

    <!-- CONTENT CONTAINER -->
    <div class="page-content">

      <!-- IF NO FILES -->
      <!-- <div class="nofiles">
        <p>You don't have any files yet.</p>
        <a href="#" class="btn btn-lg btn-default"><i class="fa fa-cloud-upload"></i> Upload New File</a>
      </div> -->

      <ul class="books">

        <!-- SHELF 1 -->
        <li class="shelf" style="background: #B36745;">
          Category 1
          <div class="actions">
            <a href="#" data-toggle="modal" data-target="#categoryModal"><i class="fa fa-pencil"></i></a>
          </div>
        </li>
        <li draggable="true" style="border-left-color:#B36745">
          <h3><a href="#"><i class="fa fa-globe"></i> Cappelli abbreviations</a></h3>
          <div class="actions">
            <a href="#" class="black"><i class="fa fa-pencil"></i></a>
            <a href="#" class="red"><i class="fa fa-times"></i></a>
          </div>
        </li>
        <li draggable="true" style="border-left-color:#B36745">
          <h3><a href="#"><i class="fa fa-globe"></i> Cassiodorus, Variae</a></h3>
          <div class="actions">
            <a href="#" class="black"><i class="fa fa-pencil"></i></a>
            <a href="#" class="red"><i class="fa fa-times"></i></a>
          </div>
        </li>
        <li draggable="true" style="border-left-color:#B36745">
          <h3><a href="#"><i class="fa fa-globe"></i> Lewis & Short</a></h3>
          <div class="actions">
            <a href="#" class="black"><i class="fa fa-pencil"></i></a>
            <a href="#" class="red"><i class="fa fa-times"></i></a>
          </div>
        </li>

        <!-- SHELF 2 -->
        <li class="shelf" style="background: #616D9F;">
          Category 2
          <div class="actions">
            <a href="#" data-toggle="modal" data-target="#categoryModal"><i class="fa fa-pencil"></i></a>
          </div>
        </li>
        <li draggable="true" style="border-left-color:#616D9F">
          <h3><a href="#"><i class="fa fa-globe"></i> Cappelli abbreviations</a></h3>
          <div class="actions">
            <a href="#" class="black"><i class="fa fa-pencil"></i></a>
            <a href="#" class="red"><i class="fa fa-times"></i></a>
          </div>
        </li>
        <li draggable="true" style="border-left-color:#616D9F">
          <h3><a href="#"><i class="fa fa-globe"></i> Cassiodorus, Variae</a></h3>
          <div class="actions">
            <a href="#" class="black"><i class="fa fa-pencil"></i></a>
            <a href="#" class="red"><i class="fa fa-times"></i></a>
          </div>
        </li>
        <li draggable="true" style="border-left-color:#616D9F">
          <h3><a href="#"><i class="fa fa-globe"></i> Lewis & Short</a></h3>
          <div class="actions">
            <a href="#" class="black"><i class="fa fa-pencil"></i></a>
            <a href="#" class="red"><i class="fa fa-times"></i></a>
          </div>
        </li>

        <!-- SHELF 3 -->
        <li class="shelf" style="background-color: #6A825E;">
          Category 3
          <div class="actions">
            <a href="#" data-toggle="modal" data-target="#categoryModal"><i class="fa fa-pencil"></i></a>
          </div>
        </li>
        <li draggable="true" style="border-left-color:#6A825E">
          <h3><a href="#"><i class="fa fa-globe"></i> Cappelli abbreviations</a></h3>
          <div class="actions">
            <a href="#" class="black"><i class="fa fa-pencil"></i></a>
            <a href="#" class="red"><i class="fa fa-times"></i></a>
          </div>
        </li>
        <li draggable="true" style="border-left-color:#6A825E">
          <h3><a href="#"><i class="fa fa-globe"></i> Cassiodorus, Variae</a></h3>
          <div class="actions">
            <a href="#" class="black"><i class="fa fa-pencil"></i></a>
            <a href="#" class="red"><i class="fa fa-times"></i></a>
          </div>
        </li>
        <li draggable="true" style="border-left-color:#6A825E">
          <h3><a href="#"><i class="fa fa-globe"></i> Lewis & Short</a></h3>
          <div class="actions">
            <a href="#" class="black"><i class="fa fa-pencil"></i></a>
            <a href="#" class="red"><i class="fa fa-times"></i></a>
          </div>
        </li>
      </ul>

    </div>
  </div>

  <!-- Upload Modal -->
  <div class="modal fade" id="filesUpload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Upload New Document</h4>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary"><i class="fa fa-save"></i> Save File</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Link Modal -->
  <div class="modal fade" id="linkModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body">
          <div class="form-group">
            <label>Link Name</label>
            <input type="text" class="form-control"/>
          </div>
          <div class="form-group">
            <label>Link URL</label>
            <input type="text" class="form-control"/>
          </div>
          <div class="form-group">
            <label>Category</label>
            <select class="form-control">
              <option>Category 1</option>
              <option>Category 2</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary"><i class="fa fa-save"></i> Save Link</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Category Modal -->
  <div class="modal fade" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body">
          <div class="form-group">
            <label>Category Name</label>
            <input type="text" class="form-control"/>
          </div>
          <div class="form-group">
            <label>Category Color</label>
            <div class="input-group color-picker">
              <input type="text" class="form-control"/>
              <span class="input-group-addon"><i></i></span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary"><i class="fa fa-save"></i> Save Category</button>
        </div>
      </div>
    </div>
  </div>

</template>
