<template name="header">
  <header>
    <div class="top">
      <a href="/" class="title">Scriptorium</a>
      <a href="/" class="logo">
        <img src="/img/rch-logo.png"/>
      </a>
      {{#if currentUser}}
        <div class="menu">
          Repositories
          <div class="menu-button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </div>
          <ul class="menu-list">
            <li><a href="http://www.digitale-sammlungen.de/index.html?c=iiif-demo&l=en" target="_blank">Bayerische Staatsbibliothek</a></li>
            <li><a href="http://digital.bodleian.ox.ac.uk/" target="_blank">Bodleian</a></li>
            <li><a href="http://www.e-codices.unifr.ch/" target="_blank">e-codices</a></li>
            <li><a href="http://www.europeana.eu/" target="_blank">Europeana</a></li>
            <li><a href="http://iiif.biblissima.fr/manifests/" target="_blank">Gallica</a></li>
          </ul>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a data-action="toggleHelp"><i class="fa fa-question-circle"></i> Help</a></li>
          <li><a data-action="signOut"><i class="fa fa-lock"></i> Sign Out</a></li>
        </ul>
      {{/if}}
    </div>
    <div class="bottom">
      {{#if currentUser}}
      <ul class="pull-left">
        <li><a href="/">Home</a></li>
        <li><a href="/desk">Desk</a></li>
        <li><a href="/files">File Cabinet</a></li>
        <li><a href="/bookshelf">Bookshelf</a></li>
        {{#if isntPersonalProject}}
          <li><a href="/collaboration">Collaboration</a></li>
        {{/if}}
        <li><a href="/folio">Folio Manager</a></li>
      </ul>
      <ul class="pull-right">
        <li><a data-action="createNewProject"><i class="fa fa-save"></i> Create New Project</a></li>
        <li><span>Current Project:</span></li>
        <li class="select">
          <select id="projectSelector" class="form-control">
            {{#each availableProjects}}
              <option value="{{_id}}" selected="{{isCurrentProject _id}}">{{this.projectName}}</option>
            {{/each}}
          </select>
        </li>
      </ul>
      {{/if}}
    </div>
  </header>
  {{>helpPanel}}
</template>
