<template name="help_bookshelf">
<h2>Using Bookshelf</h2>
<p>
Bookshelf is for resources that are useful for a particular project; collaborators create its content accordingly.
Items can be either online resources, or uploaded .pdf files. Bookshelf items open in a new window.
</p>
<p>
To set up Bookshelf and add items, click on "Category",
give a name to the category and select a colour with the colour-picker
(the little box on the right side of the Colour line becomes a colour picker when you click it).
All "books" placed in this category will have that colour on their "spine".
To add "books", click "Add item", provide the URL and the name you would like on the spine of the book".
A similar process applies when you upload a .pdf. file.
</p>

<p>
All items on Bookshelf can be rearranged by dragging and dropping.
You may move items across categories (the spine colour will change).
Bookshelf arrangement is common to all collaborators; it is not unique and personal for each collaborator.
Think of it as a seminar library.
</p>
</template>
