<template name="help_collaboration">
  <h2>Using Collaboration</h2>
  <p>
    Collaboration has two primary functions:
    1.) setting the membership for each specific project and assigning appropriate permissions for collaborators;
    2.) providing a discussion forum for reports, planning, and communication about the project. The forum supports threading and is searchable.
    All collaborators can contribute to the forum.
  </p>
  <p>
    Collaboration is also the area for closing or deleting projects. Only project administrators can exercise those powers.
  </p>
</template>
