<template name="help_files">
<h2>Using File Cabinet</h2>
<p>
File Cabinet is where documents associated with the project are stored.
They are available to all collaborators.
Documents created in Desk, using the Document Editor one activates by clicking on the Document Editor icon in an image frame,
are automatically stored in File Cabinet.
Documents in .pdf format can be uploaded to File Cabinet for storage and access in Desk, as well.
</p>
<p>
For both types of documents, you can add a short description of the document.
TIP: The description is a good way to let collaborators know what the document is, and why you have added it to the project's resources. 
These descriptions are searchable in File Cabinet, so consider what keywords it might be useful to include.
</p>

<p>
For regularly used resources found online, or reference works you would prefer to open in another window, see Bookshelf.
</p>
</template>
