<template name="chatPanel">
  <div class="desk-panel" id="desk-chat-panel">
    <i class="fa fa-times js-close-panel"></i>
    <div class="dropdown pull-right">
      <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
        Filter <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a class="checkbox">
            <label><input type="checkbox" value="chat" checked><i class="fa fa-comment-o"></i> Messages</label>
          </a>
        </li>
        <li>
          <a class="checkbox">
            <label><input type="checkbox" value="deskSnapshotss" checked><i class="fa fa-share-alt"></i> Snapshots</label>
          </a>
        </li>
        <li>
          <a class="checkbox">
            <label><input type="checkbox" value="annotations" checked><i class="fa fa-tag"></i> Annotations</label>
          </a>
        </li>
        <li>
          <a class="checkbox">
            <label><input type="checkbox" value="availablemanifests" checked><i class="fa fa-book"></i> Manifests</label>
          </a>
        </li>
        <li>
          <a class="checkbox">
            <label><input type="checkbox" value="filecabinet" checked><i class="fa fa-file-text-o"></i> Documents and Uploads</label>
          </a>
        </li>
        <li>
          <a class="checkbox">
            <label><input type="checkbox" value="user" checked><i class="fa fa-users"></i> User Events</label>
          </a>
        </li>
      </ul>
    </div>
    <ul class="chat-area">
      {{#each events}}
        <li class="clearfix">
          <div class="changelog-item">
            {{#if eventIsType 'chat'}}
              <strong><small>{{fullName}}:</small></strong>
              {{message}}
              {{> timeFromNow timestamp}}
            {{/if}}
            {{#if eventIsType 'deskSnapshots'}}
              <i class="panel-icon fa fa-share-alt"></i>
              <small class="chat-panel-message"><strong>{{fullName}}</strong> created snapshot <strong>{{snapshot.title}}</strong>.</small>
              <button type="button" class="chat-panel-btn btn btn-default btn-xs" data-action="loadSnapshot">Load Snapshot?</button>
              {{> timeFromNow timestamp}}
            {{/if}}
            {{#if eventIsType 'availablemanifests'}}
              <i class="panel-icon fa fa-book"></i>
              <small class="chat-panel-message"><strong>{{fullName}}</strong> added manifest <strong>{{manifest.manifestTitle}}</strong>.</small>
              {{> timeFromNow timestamp}}
            {{/if}}
            {{#if eventIsType 'annotations'}}
              {{#with annotation}}
                <i class="fa fa-tag"></i>
                <small class="chat-panel-message">
                  <strong>{{fullName}}</strong> annotated <strong>{{annotationImage}}</strong> in manifest <strong>{{annotationManifest}}</strong>.
                </small>
                <button type="button" class="chat-panel-btn btn btn-default btn-xs" data-action="loadImage">Load Image?</button>
              {{/with}}
              {{> timeFromNow timestamp}}
            {{/if}}
            {{#if eventIsType 'filecabinet'}}
              {{#with file}}
                {{#if fileIsType 'upload'}}
                  <i class="panel-icon fa fa-file-o"></i>
                  <small class="chat-panel-message"><strong>{{fullName}}</strong> uploaded file <strong>{{title}}</strong>.</small>
                {{else}}
                  <i class="panel-icon fa fa-file-text-o"></i>
                  <small class="chat-panel-message"><strong>{{fullName}}</strong> created editor document <strong>{{title}}</strong>.</small>
                {{/if}}
              {{/with}}
              {{> timeFromNow timestamp}}
            {{/if}}
            {{#if eventIsType 'user'}}
              <i class="panel-icon fa fa-users"></i>
              <small class="chat-panel-message"><strong>{{fullName}}</strong> added user <strong>{{addedUserFullName}}</strong> to the project.</small>
              {{> timeFromNow timestamp}}
            {{/if}}
          </div>
        </li>
      {{/each}}
      <div class="input-group">
        <input type="text" class="form-control" name="chat">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button" data-action="send">Send</button>
        </span>
      </div>
    </ul>
  </div>
</template>

