<template name="documentPanel">
  {{#deskPanel id="desk-document-panel"}}
    <ul class="page-list file-cabinet">
      {{#each documents}}
        <li>
          <div class="editorItem">
            {{#if isEditor}}
              <i class="file-icon fa fa-file-text-o"></i>
              {{else}}
              <i class="file-icon fa fa-file-o"></i>
            {{/if}}
            <div class="meta">
              <strong>{{title}}</strong>
              <small>{{description}}</small>
              <small>Created on {{formattedDate}}</small>
              {{#if isEditor}}
                <small>Editor Document{{#if isOpen}} - Open{{/if}}</small>
                {{else}}
                <small>Uploaded File</small>
              {{/if}}
            </div>
          </div>
          <div class="document-panel-actions">
            <span name="rename"><small><i class="fa fa-pencil"></i> rename</small></span>
            <span name="delete"><small><i class="fa fa-times"></i> delete</small></span>
          </div>
        </li>
      {{/each}}
    </ul>
  {{/deskPanel}}
</template>
