<template name="loadWindowPanel">
  {{#deskPanel id="desk-load-window-panel"}}
    <fieldset class="mirador-listing-collections">
      <legend>Available/Loaded manuscripts</legend>
      <select name="manifest-select">
        {{#each collections}}
          <optgroup label="{{manifestLocation}}">
            <option data-manifest-id="{{_id}}">{{manifestPayload.label}}</option>
          </optgroup>
        {{/each}}
      </select><br/>
      <a class="mirador-btn mirador-icon-thumbnails-view" title="Thumbnails View"></a>
      <a class="mirador-btn mirador-icon-scroll-view" title="Scroll View"></a>
      <a class="mirador-btn mirador-icon-metadata-view" title="Metadata View"></a>
      <a class="mirador-btn mirador-icon-add-mani" title="Add Manifest"></a>
      {{#each collections}}
        <ul class="ul-{{_id}}">
          {{#each imageData}}
            <li class="load-window-li"><a data-image-id="{{imageIndex}}" data-manifest-id="{{../_id}}">{{trimTitlePrefix label}}</a></li>
          {{/each}}
        </ul>
      {{/each}}
    </fieldset>
  {{/deskPanel}}
</template>
