<head>
  <script type="text/javascript" src="plugins/ckeditor/ckeditor.js"></script>
	<script src="//cdn.ckeditor.com/4.4.3/full/ckeditor.js"></script>
</head>

<template name="layout">
  <!--[if lt IE 9]>
    <p class="browser-warning"><strong><i class="icon-exclamation-sign"></i> Warning</strong> - You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> to properly view this website.</p>
  <![endif]-->


  <div class="wrapper">
    {{> yield region="header"}}
      {{> yield}}
    {{> yield region="footer"}}
  </div>
</template>
