<template name="userAutocomplete">
  <h4>{{name}}</h4>
  <h5>{{email}}</h5>
</template>

<template name="_userManagement">
  <h2><i class="fa fa-comments"></i> Collaboration</h2>
  <p>Manage and communicate with your team.</p>

  <!-- TEAM MANAGEMENT -->
  <ul class="team">
    <h3>Manage Team</h3>
  {{#each project.permissions}}
    <li>
      <b>{{user.fullName}}</b>
      <small>{{level}}</small>
      {{#if isAdmin}}
      <span>
        <a href="#" data-toggle="modal" data-target="#editUserModal" class="edit" title="Edit"><i class="fa fa-pencil"></i></a>
        <a href="#" data-toggle="modal" data-target="#deleteUserModal" class="delete" title="Delete"><i class="fa fa-times"></i></a>
      </span>
      {{/if}}
    </li>
  {{/each}}
  </ul>
  {{#if isAdmin}}
  <a href="#" data-toggle="modal" data-target="#userModal" class="btn btn-primary btn-block"><i class="fa fa-plus"></i> Add New Team Member</a>
  {{/if}}
</template>

<template name="addUserToProject">
  <!-- ADD TEAM MEMBER MODAL -->
  <div class="modal fade" id="userModal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label>Email Address</label>
              <input type="email" class="form-control typeahead" autocomplete="off" spellcheck="off" placeholder="Name or Email Address"
                      data-source="userSearch" data-template="userAutocomplete"/>
            </div>
            <div class="form-group">
              <label>Role</label>
              <select class="form-control">
                <option value="contributor">Contributor</option>
                <option value="admin">Admin</option>
              </select>
            </div>
          </form>
          <span class="error">{{modalError}}</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default closeMe" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary addUser"><i class="fa fa-plus"></i> Add User</button>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="editUserInProject">
  <!-- EDIT TEAM MEMBER MODAL -->
  <div class="modal fade" id="editUserModal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body">
          <form>
            <div class="form-group">
              <h3>{{editingUser.fullName}}</h3>
              <h5>{{editingUser.primaryEmail}}</h5>
            </div>
            <div class="form-group">
              <label>Role</label>
              <select class="form-control role">
                <option value="contributor" selected="{{isRole 'contributor'}}">Contributor</option>
                <option value="admin" selected="{{isRole 'admin'}}">Admin</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary save">Save User</button>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="removeUserFromProject">
  <!-- REMOVE TEAM MEMBER MODAL -->
  <div class="modal fade" id="deleteUserModal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body">
          <p class="text-center">Are you sure you want to delete <b>{{editingUser.fullName}}</b> from the project?</p>
          <div class="row">
            <div class="col-xs-6">
              <button type="button" class="btn btn-block btn-default" data-dismiss="modal">Cancel</button>
            </div>
            <div class="col-xs-6">
              <button type="button" class="btn btn-block btn-danger"><i class="fa fa-times"></i> Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
