@import '../../stylesheets/lib/lesshat';

#viewer {
  background: #333 url(images/debut_dark.png) left top repeat;
  width: 100vw;
  height: calc(~"100% - 84px");
  position: fixed;
  overflow: hidden;
}

// HACK: keep the widget content from growing out of the widget frame
// see http://stackoverflow.com/questions/24541674/conflict-between-jquery-ui-and-bootstrap-3-when-resizing
.mirador-viewer .ui-dialog {
  box-sizing: content-box;
}

div[id^='editorWindow-'] {
	width: 500px;
	height: 373px;
  margin-top: 30px;
	z-index: 500;
  position: absolute;
  left: 500px;

  &.ui-dialog {
    padding: 0;
  }

  .ui-dialog-titlebar {
    background-color: #F0F0F0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: 1px dotted #CCC;
    padding: .6em;
  }

  .ui-dialog-titlebar-buttonpane button, .ui-dialog-titlebar-collapse {
    border: 0;
    background: 0 0;
  }

  .ui-dialog-titlebar-close {
    position: relative;
    right: auto;
    top: auto;
    margin: 0;
    float: right;
  }
}
.mirador-viewer, .mirador-main-menu-bar, .mirador-status-bar {
  font-size: 14px;
}
.mirador-main-menu {
  padding: 0px;
}
.mirador-main-menu-bar {
  height: auto !important;
  overflow: auto;
}
.mirador-status-bar-msg-left, .mirador-status-bar-msg-right {
  padding: 0px 10px;
}
.mirador-listing-collections li {
  padding: 10px 5px;
  width: 150px;
}

.help-panel {
  position: absolute;
  right: -300px;
  width: 300px;
  height: 100%;
  z-index: 99999;
  background: #fff;
  padding: 8px;
  .transition(all 0.2s ease);
}
.help-panel.is-open {
  .translateX(-300px);
}
.help-panel .js-close-panel {
  color: #bbb;
  font-size: 22px;
  cursor: pointer;
}

// Desk document panel
.desk-document-panel {
  position: absolute;
  right: -300px;
  width: 300px;
  height: 100%;
  z-index: 99999;
  background: #fff;
  padding: 8px;
  .transition(all 0.2s ease);
}
.desk-document-panel.is-open {
  .translateX(-300px);
}
.desk-document-panel .js-close-panel {
  color: #bbb;
  font-size: 22px;
  cursor: pointer;
}
.desk-document-panel .page-list {
  li {
    padding: 10px 0px;
    cursor: pointer;
    i.file-icon {
      margin-top: 4px;
      margin-right: 4px;
      font-size: 20px;
      width: 28px;
      text-align: center;
    }
    .meta {
      margin-right: 0;
    }
  }
}

.desk-save-panel {
  position: absolute;
  right: -300px;
  width: 300px;
  height: 100%;
  z-index: 99999;
  background: #fff;
  padding: 8px;
  .transition(all 0.2s ease);
}
.desk-save-panel.is-open {
  .translateX(-300px);
}
.desk-save-panel .js-close-panel {
  color: #bbb;
  font-size: 22px;
  cursor: pointer;
}

.desk-new-doc-panel {
  position: absolute;
  right: -300px;
  width: 300px;
  height: 100%;
  z-index: 99999;
  background: #fff;
  padding: 8px;
  .transition(all 0.2s ease);
}
.desk-new-doc-panel.is-open {
  .translateX(-300px);
}
.desk-new-doc-panel .js-close-panel {
  color: #bbb;
  font-size: 22px;
  cursor: pointer;
}
.doc-panel-delete {
  float: right;
}
