#viewer {
  background: #333 url(images/debut_dark.png) left top repeat;
  width: 100%;
  height: calc(~"100% - 84px");
  position: fixed;
}

#editorWindow {
	width: 500;
	background: #000;
	height: 100%;
	top: 100px;
	right: 500px;
	position: absolute;
	z-index: 500;
}

.mirador-viewer, .mirador-main-menu-bar, .mirador-status-bar {
  font-size: 14px;
}

.mirador-main-menu {
  padding: 0px;
}

.mirador-main-menu-bar {
  height: auto !important;
  overflow: auto;
}

.mirador-status-bar-msg-left, .mirador-status-bar-msg-right {
  padding: 0px 10px;
}

.mirador-listing-collections li {
  padding: 10px 5px;
  width: 150px;

}
