@import '../../stylesheets/lib/lesshat';

#viewer {
  background: #333 url(images/debut_dark.png) left top repeat;
  width: 100vw;
  height: calc(~"100% - 84px");
  position: absolute;
  overflow: hidden;
}

.mirador-viewer {
  position: relative;
}

// HACK: keep the widget content from growing out of the widget frame
// see http://stackoverflow.com/questions/24541674/conflict-between-jquery-ui-and-bootstrap-3-when-resizing
.mirador-viewer .ui-dialog {
  box-sizing: content-box;
}

div[id^='editorWindow-'] {
	width: 500px;
	height: 373px;
  margin-top: 30px;
	z-index: 500;
  position: absolute;
  left: 500px;

  &.ui-dialog {
    padding: 0;
  }

  .ui-dialog-titlebar {
    background-color: #F0F0F0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: 1px dotted #CCC;
    padding: .6em;
  }

  .ui-dialog-titlebar-buttonpane button, .ui-dialog-titlebar-collapse {
    border: 0;
    background: 0 0;
  }

  .ui-dialog-titlebar-close {
    position: relative;
    right: auto;
    top: auto;
    margin: 0;
    float: right;
  }
}
.mirador-viewer, .mirador-main-menu-bar, .mirador-status-bar {
  font-size: 14px;
}
.mirador-main-menu {
  padding: 0px;
}
.mirador-main-menu-bar {
  height: auto !important;
  overflow: auto;
}
.mirador-status-bar-msg-left, .mirador-status-bar-msg-right {
  padding: 0px 10px;
}
.mirador-listing-collections li {
  padding: 10px 5px;
  width: 150px;
}
.help-panel {
  position: absolute;
  height: calc(~"100% - 84px");
  right: -300px;
  width: 300px;
  z-index: 103;
  background: #fff;
  padding: 8px;
  .transition(all 0.2s ease);
  overflow: hidden;
}
.help-panel.is-open {
  .translateX(-300px);
}

.help-panel .help-panel-close-button {
  position: absolute;
  padding-bottom: 5px;
  top: 5px;
  left: 5px;
}

.help-panel .help-panel-content {
  overflow: scroll;
  height: 100%;
  margin-top: 15px;
}
.help-panel .js-close-panel {
  color: #bbb;
  font-size: 22px;
  cursor: pointer;
}
// Desk document panel
.desk-panel {
  position: absolute;
  right: -350px;
  width: 350px;
  top: 30px;
  height: calc(~'100% - 30px');
  z-index: 102;
  background: #fff;
  padding: 8px 15px 8px 8px;
  .transition(all 0.2s ease);
  overflow-y: scroll;
}
.desk-panel.is-open {
  .translateX(-350px);
}

.desk-panel .js-close-panel {
  color: #bbb;
  font-size: 22px;
  cursor: pointer;
}
.desk-panel .page-list {
  li {
    padding: 10px 0px;
    cursor: pointer;

    i.panel-icon, i.file-icon{
      float: left;
      margin-top: 4px;
      margin-right: 4px;
      font-size: 20px;
      width: 28px;
      text-align: center;
    }
    .meta {
      margin-right: 0;
    }
  }
}


.document-panel-actions {
  float: right;
}

.document-panel-actions span {
  display: inline-block;
  padding-right: 6px;
}

#desk-chat-panel {
  overflow: hidden;
}

#desk-chat-panel .chat-area {
  min-height: 0;
  padding-left: 0px;
  height: calc(~'100% - 30px');
  border-top: 1px solid #E6E6E6;
  overflow-y: auto;

  li {
    list-style: none;
    border-bottom: 1px solid #E6E6E6;
    margin: 10px 5px;

    .meta {
      display: block;
      overflow: hidden;
      margin-right: 200px;

      a {
        color: #333;
      }
    }

    small {
      display: block;
    }

    i.file-icon {
      float: left;
      font-size: 40px;
      width: 50px;
    }

    img {
      float: left;
      width: 50px;
      margin-right: 15px;
    }

    .actions {
      float: right;
      text-align: right;
      position: relative;
      .btn {
        margin-bottom: 8px;
      }
    }

    .time {
      font-size: small;
      float: right;
      color: #aaa;
    }
    .chat-panel-message {
      display: inline;
    }
    .chat-panel-btn {
      display: block;
    }
  }
}

.chat-badge {
  border-radius: 1em;
}
