<!-- Main menu -->
<template name="mirador_mainMenu">
  <div class="mirador-main-menu-bar" style="height: 25px; width: 100%;">
    {{> mirador_mainMenu_menuItems}}
  </div>
</template>

<template name="mirador_mainMenu_menuItems">
  <ul class="mirador-main-menu menu-left">
    <li>
      <a class="clear-local-storage" title="Clear saved workspace and reload">
        <span class="icon-clear-local-storage"></span>
      </a>
    </li>
    <li>
      <a class="window-options" title="Window Options">
        <span class="icon-window-options"></span>Window Options
      </a>
    </li>
  </ul>
  <ul class="mirador-main-menu">
    <li>
      <a data-action="toggle-panel" data-panel="#desk-chat-panel"><i class="fa fa-comment-o"></i> Chat 
        {{#if count}}<span class="label label-danger chat-badge">{{count}}</span>{{/if}}
     </a>
    </li>
    <li>
      <a data-action="toggle-panel" data-panel="#desk-document-panel"><i class="fa fa-file-text-o"></i> Open Documents</a>
    </li>
    <li>
      <a data-action="toggle-panel" data-panel="#desk-snapshot-panel"><i class="fa fa-share-alt"></i> Snapshots</a>
    </li>
    <li>
      <a data-action="toggle-panel" data-panel="#desk-load-window-panel">
        <span class="icon-load-window"></span>Load Manuscript
      </a>
    </li>
  </ul>
</template>

<!-- template for rendering window options menu -->
<template name="mirador_mainMenu_windowOptionsMenu">
  <ul class="window-options-menu">
    <li><a class="cascade-all">Cascade All</a></li>
    <li><a class="tile-all-vertically">Tile All Vertically</a></li>
    <li><a class="tile-all-horizontally">Tile All Horizontally</a></li>
    <li><a class="stack-all-vertically-2-cols">Stack Vertically (2 columns)</a></li>
    <li><a class="stack-all-vertically-3-cols">Stack Vertically (3 columns)</a></li>
    <li class="ui-state-disabled"><a>Open Recent</a></li>
    <li><a class="close-all">Close All</a></li>
  </ul>
</template>

<!-- template for rendering load windos manuscripts' select box and images list -->
<template name="mirador_mainMenu_loadWindowContent">
</template>

<!-- template for rendering clear local storage dialog -->
<template name="mirador_mainMenu_clearLocalStorage">
  <div>
    <p>Do you want to delete your saved workspace, and reload the viewer?</p>
    <p>
      <button class="btn btn-default" data-action="cancel">Cancel</button>
      <button class="btn btn-danger" data-action="clear">Clear</button>
    </p>
  </div>
</template>

