<template name="deskPanel">
  <div class="desk-document-panel">
    <i class="fa fa-times js-close-panel"></i>
    <ul class="page-list file-cabinet">
      <li>
        <i class="file-icon fa fa-file-o"></i>
        <div class="meta">
          <strong>Hi-Res Manuscript Image</strong>
          <small>manuscript.jpg - 2MB</small>
        </div>
      </li>
      <li>
        <i class="file-icon fa fa-file-o"></i>
        <div class="meta">
          <strong>Hi-Res Manuscript Image</strong>
          <small>manuscript.jpg - 2MB</small>
        </div>
      </li>
    </ul>
  </div>
</template>

<template name="savePanel">
  <div class="desk-save-panel">
    <i class="fa fa-times js-close-panel"></i>
    <div>
      New project name: 
      <br />
      <input type="text" id="newGroupName" />
      <br />
      <input type="button" id="saveAsProject" value="Save" />
    </div>
  </div>
</template>
