<template name="deskPanel">
  <div class="desk-document-panel">
    <i class="fa fa-times js-close-panel"></i>
    <ul class="page-list file-cabinet">
      {{#each documents}}
          <li>
            {{#if isOpen}}
              <div class="openEditorItem">
                <i class="file-icon fa fa-file-o"></i>
                <div class="meta">
                  <strong>{{title}}</strong>
                  <small>Editor Document - Open</small>
                </div>
              </div>
            {{else}}
              <div class="editorItem">
                <i class="file-icon fa fa-file-o"></i>
                <div class="meta">
                  <strong>{{title}}</strong>
                  <small>Editor Document</small>
                </div>
              </div>
            {{/if}}
            <div class="doc-panel-delete"><small><i class="fa fa-times"></i> delete</small></div>          
          </li>
      {{/each}}
    </ul>
  </div>
</template>

<template name="savePanel">
  <div class="desk-save-panel">
    <i class="fa fa-times js-close-panel"></i>
    <div>
      New project name: 
      <br />
      <input type="text" id="newGroupName" />
      <br />
      <input type="button" id="saveAsProject" value="Save" />
    </div>
  </div>
</template>

<template name="editorPanel">
  <div id="editorWindow-{{editorId}}" class="editor-draggable ui-dialog ui-widget ui-widget-content ui-corner-all ui-front ui-draggable ui-resizable">
    <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
      <span class="ui-dialog-title">Editor - {{editorTitle}}</span>
      <div class="ui-dialog-titlebar-buttonpane">
        <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only ui-dialog-titlebar-close editor-close">
          <span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span>
        </button>
        <a href="#" class="ui-dialog-titlebar-collapse ui-corner-all ui-state-default">
          <span class="fa fa-floppy-o editor-save"></span>
        </a>
<!--         <a href="#" class="ui-dialog-titlebar-collapse ui-corner-all ui-state-default">
          <span class="ui-icon ui-icon-minus"></span>
        </a>
        <a href="#" class="ui-dialog-titlebar-collapse ui-corner-all ui-state-default">
          <span class="ui-icon ui-icon-arrow-4-diag"></span>
        </a> -->
      </div>
    </div>
    <div class="mirador-widget ui-dialog-content ui-widget-content ui-dialog-normal foo">
      <div id="editorDiv-{{editorId}}">
        <textarea name="editor-{{editorId}}" id="editor-{{editorId}}">{{content}}</textarea>
      </div>
    </div>
  </div>
</template>

<template name="newDocPanel">
  <div class="desk-new-doc-panel">
    <i class="fa fa-times js-close-panel"></i>
    <div>
      New document name: 
      <br />
      <input type="text" id="newDocName" />
      <br />
      <input type="button" id="saveAsDocument" value="Save" />
    </div>
  </div>
</template>
