<!-- Widget -->
<!-- template for rendering widget with placeholders for toolbar and status bar -->
<template name="mirador_widget_initialLayout">
  <div class="mirador-widget" id="{{widgetId}}" style="display: none;">
    {{> mirador_widget_toolbar}}
    {{> mirador_widget_statusbar}}
    {{> mirador_widget_content}}
  </div>
</template>

<template name="mirador_widget_toolbar">
  <div class="mirador-widget-toolbar" height="{{height}}" style="{{hidden}}">
    {{> Template.dynamic template=template}}
  </div>
</template>

<template name="mirador_widget_statusbar">
  <div class="mirador-widget-statusbar" height="{{height}}" style="{{hidden}}">
    {{> Template.dynamic template=template}}
  </div>
</template>

<template name="mirador_widget_content">
  <div class="mirador-widget-content {{contentClass}}" style="height: {{height}}px;">
    {{> Template.dynamic template=template}}
  </div>
</template>
