<template name="folioEdit">

  <div class="page-wrapper">

    <!-- SIDEBAR -->
    <div class="sidebar">
      <h2>New Exhibit Entry</h2>
      <p>Complete the required fields to submit a new entry to an Exhibit.</p>
      <div class="sidebar-affix">
        <img class="folio-edit-image" src="{{editThumbnail}}"/>
        <a href="/folio" class="btn btn-default btn-block"><i class="fa fa-angle-left"></i> Back to Manager</a>
        <a href="/desk" class="btn btn-default btn-block"><i class="fa fa-angle-left"></i> Back to Desk</a>
      </div>
    </div>

    <!-- MANUSCRIPT FORM -->
    <div class="page-content folio">
      <form>
        <h2>Exhibit Manuscript Details</h2>
        <h3>Shelfmark</h3>
        <div class="row">
          <div class="form-group col-xs-6">
            <label>City<span>*</span></label>
            <input type="text" class="form-control" id="city-field" value="{{getFolioById.metadata.city}}" required/>
          </div>
          <div class="form-group col-xs-6">
            <label>Repository<span>*</span></label>
            <input type="text" class="form-control" id="repository-field" value="{{getFolioById.metadata.repository}}" required/>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-6">
            <label>Collection (fond)</label>
            <input type="text" class="form-control" id="collection-field" value="{{getFolioById.metadata.collection}}"/>
          </div>
          <div class="form-group col-xs-6">
            <label>Number<span>*</span></label>
            <input type="text" class="form-control" id="collectionNumber-field"  value="{{getFolioById.metadata.collectionNumber}}" required/>
          </div>
        </div>
        <h3>Details</h3>
        <div class="form-group">
          <label>Content of this Manuscript Page or Document<span>*</span></label>
          <input type="text" class="form-control" id="commonName-field" value="{{getFolioById.metadata.commonName}}"/>
          <span class="help-block">Examples: “Charter of Frederick II”; “Collectio Hispana”; “Gratian, Decretum, Distinction 5”; “Theodosian Code, Book XIX”</span>
        </div>

        <div class="row">
          <div class="form-group col-xs-6">
            <label>Place of Origin</label>
            <input type="text" class="form-control" id="origin-field" value="{{getFolioById.metadata.origin}}"/>
            <span class="help-block">Please name country as well as region or site: e.g., "England; Northumbria", or "Italy; Milan".</span>
          </div>
          <div class="form-group col-xs-6">
            <label>Provenance</label>
            <textarea type="text" class="form-control" id="provenance-field" value="{{getFolioById.metadata.provenance}}" rows="1" style="resize: vertical;"></textarea>
            <span class="help-block">Subsequent locations, or rationale for Place of Origin, etc.</span>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-xs-6">
            <label>Date Expression</label>
            <input type="text" class="form-control" id="dateExpression-field" value="{{getFolioById.metadata.dateExpression}}"/>
            <span class="help-block">Ex. 'ca. 698' or 'Early 19th Century'</span>
          </div>
          <div class="form-group col-xs-6">
            <label>Date Range<span>*</span></label>
            <span id="firstDate">500 BC</span> - <span id="lastDate">2025 AD</span>
            <input id="dateSlider" type="text" required/>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-6">
            <label>Author(s) of work(s) in manuscript</label>
            <input type="text" class="form-control" id="author-field" value="{{getFolioById.metadata.author}}"/>
          </div>
          <div class="form-group col-xs-6">
            <label>Title(s) of work(s) in manuscript</label>
            <input type="text" class="form-control" id="title-field" value="{{getFolioById.metadata.title}}"/>
          </div>
        </div>
        <div class="form-group">
          <label>Type of Document<span>*</span></label>
          <input id="scriptName" type="text" class="form-control" required/>
        </div>
        <div class="row">
          <div class="form-group col-xs-6">
            <label>Traditional Classification</label>
            <select id="traditionSelect" class="form-control" required>
              <option></option>
              {{#each traditions}}
                <option>{{this}}</option>
              {{/each}}
            </select>
          </div>
          <div class="form-group col-xs-6">
            <label>Community Context</label>
            <select id="scriptSelect" class="form-control" required>
              <option></option>
              {{#each scriptFamily}}
                <option>{{this}}</option>
              {{/each}}
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-6">
            <label>Region<span>*</span></label>
            <select id="languageSelect" class="form-control" required>
              <option></option>
              {{#each regions}}
                <option>{{this}}</option>
              {{/each}}
            </select>
          </div>
          <div class="form-group col-xs-6">
            <label>Alphabet<span>*</span></label>
            <select id="alphabetSelect" class="form-control" required>
              <option></option>
              {{#each alphabet}}
                <option>{{this}}</option>
              {{/each}}
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-6">
            <label>Associated with Person</label>
            <input type="text" class="form-control" id="contributor-field" value="{{getFolioById.metadata.contributors}}"/>
            <span class="help-block">Names of persons might be those who owned, copied, wrote, used, signed, sanctioned, or used a text or manuscript.</span>
          </div>
          <div class="form-group col-xs-6">
            <label>Link to full manuscript (URL)</label>
            <input type="text" class="form-control" id="link-field" value="{{getFolioById.metadata.manuscriptLink}}"/>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-6">
            <label>Specific Folio Text<span>*</span></label>
            <input type="text" class="form-control" id="folioText-field" value="{{getFolioById.metadata.specificText}}" required/>
          </div>
          <div class="form-group col-xs-6">
            <label>Specific Folio Number<span>*</span></label>
            <input type="text" class="form-control" id="folioNumber-field" value="{{getFolioById.metadata.folioNumber}}" required/>
          </div>
        </div>
        <div class="form-group">
          <label>Content and Context<span>*</span></label>
          <textarea id="description" required></textarea>
          <span class="help-block">used for brief historical contextualization, explanation of text type, circumstances of composition, transmission, etc.</span>
        </div>
        <div class="form-group">
          <label>Special Legal Features<span>*</span></label>
          <textarea id="features" required></textarea>
        </div>
        <div class="form-group">
          <label>Further Information / Bibliography</label>
          <textarea id="info"></textarea>
        </div>
        <div class="form-group">
          <label>Transcription</label>
          <textarea id="transcription"></textarea>
        </div>

        <div class="folio-form-footer">

          <!-- IF UNPUBLISHED -->
          <!-- IF PUBLISHED
          <a class="btn btn-lg btn-primary"><i class="fa fa-globe"></i> Save & Publish</a>
          <a class="btn btn-lg btn-default"><i class="fa fa-history"></i> Unpublish</a> -->
          <div class="alert alert-danger">
            Notice: Exhibit Manager is in development and data added to this form may not be saved.
          </div>
          <a id="submitFolioItem" class="btn btn-lg btn-primary"><i class="fa fa-save"></i> Save</a>


          <a class="btn btn-lg btn-danger pull-right" data-toggle="modal" data-target="#deleteModal"><i class="fa fa-trash-o"></i> Delete</a>

          <p style="margin-top: 50px;">*Please ask your HMML staff collaborator to click the Publish button, after you have saved your work.</p>
          {{#if isPublished false}}
            <a id="publish" class="btn btn-default"><i class="fa fa-lock"></i> Admin Publish</a>
          {{/if}}

          {{#if isPublished true}}
            <a id="publish" class="btn btn-default"><i class="fa fa-history"></i> Unpublish</a>
          {{/if}}
        </div>
      </form>
    </div>
  </div>

  <!-- DELETE MODAL -->
  <div class="modal fade" id="deleteModal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body text-center">
          <p>Are you sure you want to delete?</p>
          <a id="deleteFolioRecord" class="btn btn-block btn-danger"><i class="fa fa-trash-o"></i> Yes, Delete</a>
        </div>
      </div>
    </div>
  </div>

  <!-- save confirm modal -->
  <div class="modal fade" id="folioSaveConfirm">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body text-center">
          <p>Folio entry for {{folioTitle}} has been saved!</p>
          <a id="folioSaveOkBtn" class="btn btn-lg btn-default"><i class="fa fa-thumbs-o-up"></i> OK</a>
        </div>
      </div>
    </div>
  </div>


  <!-- Required Field empty -->
  <div class="modal fade" id="folioInvalidField">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body text-center">
          <p>Folio entry for {{folioTitle}} has been saved but could not be published.  Please complete all required fields</p>
          <a id="folioInvalidOkBtn" class="btn btn-lg btn-default"><i class="fa fa-thumbs-o-up"></i> OK</a>
        </div>
      </div>
    </div>
  </div>

  <!-- publish confirm modal -->
  <div class="modal fade" id="folioPublishConfirm">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body text-center">
          <p>Folio entry for {{folioTitle}} has been {{#if isPublished false}}unpublished{{/if}}{{#if isPublished true}}published{{/if}}!</p>
          <a id="folioPublishOkBtn" class="btn btn-lg btn-default ok-btn"><i class="fa fa-thumbs-o-up"></i> OK</a>
        </div>
      </div>
    </div>
  </div>
</template>
