<template name="folio">

  <div class="page-wrapper">

    <!-- SIDEBAR -->
    <div class="sidebar">
      <h2><i class="fa fa-university"></i> Folio Manager</h2>
      <p>Add, delete and edit content for the <a href="#">Folio</a> module.</p>
      <p>Placeholder text for explanation on how to add from Desk.</p>
    </div>

    <!-- FILE LIST -->
    <ul class="page-list">
      <li>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search Folio entries..."/>
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </li>
      {{#each items}}
        <li>
          <img src="{{imageURL}}/full/50,/0/native.jpg"/>
          <div class="actions actions-folio">
            <a href="#" class="btn btn-block btn-default folio-edit-btn" id="{{_id}}"><i class="fa fa-edit"></i> Edit Entry</a>
            <a href="#" class="btn btn-block btn-default"><i class="fa fa-image"></i> Annotate Image</a>
          </div>
          <div class="meta meta-folio">
            <strong>{{metadata.city}}, {{metadata.repository}}, {{metadata.collection}} {{metadata.collectionNumber}} {{metadata.folioNumber}}</strong>
            <small>{{metadata.scriptLanguage}} &bull; {{metadata.scriptFamily}} &bull; {{metadata.dateExpression}}</small>
            <small>Last saved by {{emailById}} on {{lastUpdated}}</small>
            {{#if isPublished true}}
              <small>Published</small>
            {{/if}}
            {{#if isPublished false}}
              <small>Not Published</small>
            {{/if}}
          </div>
        </li>
      {{/each}}
    </ul>

  </div>

</template>
