<template name="folio">

  <div class="page-wrapper">

    <!-- SIDEBAR -->
    <div class="sidebar">
      <h2><i class="fa fa-university"></i> Folio Manager</h2>
      <p>Add, delete and edit content for the <a href="#">Folio</a> module.</p>
      <a href="/folio/edit" class="btn btn-primary btn-block"><i class="fa fa-plus"></i> Add New Folio Entry</a>
    </div>

    <!-- FILE LIST -->
    <ul class="page-list">
      <li>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search Folio entries..."/>
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </li>
      <li>
        <a href="/folio/edit"><img src="/img/temp/temp-manuscript.jpg"/></a>
        <div class="actions">
          <a href="/folio/edit" class="btn btn-default"><i class="fa fa-edit"></i> Edit</a>
          <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" ><i class="fa fa-trash-o"></i> Delete</a>
        </div>
        <div class="meta">
          <a href="/folio/edit"><strong>London, British Library, Additional 89000 f. 1r
</strong></a>
          <small>Latin &bull; Uncial &bull; 698 AD</small>
          <small>by Abigail Firey on 7/16/14</small>
        </div>
      </li>
      <li>
        <a href="/folio/edit"><img src="/img/temp/temp-manuscript.jpg"/></a>
        <div class="actions">
          <a href="/folio/edit" class="btn btn-default"><i class="fa fa-edit"></i> Edit</a>
          <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" ><i class="fa fa-trash-o"></i> Delete</a>
        </div>
        <div class="meta">
          <a href="/folio/edit"><strong>London, British Library, Additional 89000 f. 1r
</strong></a>
          <small>Latin &bull; Uncial &bull; 698 AD</small>
          <small>by Abigail Firey on 7/16/14</small>
        </div>
      </li>
      <li>
        <a href="/folio/edit"><img src="/img/temp/temp-manuscript.jpg"/></a>
        <div class="actions">
          <a href="/folio/edit" class="btn btn-default"><i class="fa fa-edit"></i> Edit</a>
          <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" ><i class="fa fa-trash-o"></i> Delete</a>
        </div>
        <div class="meta">
          <a href="/folio/edit"><strong>London, British Library, Additional 89000 f. 1r
</strong></a>
          <small>Latin &bull; Uncial &bull; 698 AD</small>
          <small>by Abigail Firey on 7/16/14</small>
        </div>
      </li>
      <li>
        <a href="/folio/edit"><img src="/img/temp/temp-manuscript.jpg"/></a>
        <div class="actions">
          <a href="/folio/edit" class="btn btn-default"><i class="fa fa-edit"></i> Edit</a>
          <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" ><i class="fa fa-trash-o"></i> Delete</a>
        </div>
        <div class="meta">
          <a href="/folio/edit"><strong>London, British Library, Additional 89000 f. 1r
</strong></a>
          <small>Latin &bull; Uncial &bull; 698 AD</small>
          <small>by Abigail Firey on 7/16/14</small>
        </div>
      </li>
      <li>
        <a href="/folio/edit"><img src="/img/temp/temp-manuscript.jpg"/></a>
        <div class="actions">
          <a href="/folio/edit" class="btn btn-default"><i class="fa fa-edit"></i> Edit</a>
          <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" ><i class="fa fa-trash-o"></i> Delete</a>
        </div>
        <div class="meta">
          <a href="/folio/edit"><strong>London, British Library, Additional 89000 f. 1r
</strong></a>
          <small>Latin &bull; Uncial &bull; 698 AD</small>
          <small>by Abigail Firey on 7/16/14</small>
        </div>
      </li>
    </ul>

  </div>


  <!-- DELETE MODAL -->
  <div class="modal fade" id="deleteModal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body text-center">
          <p>Are you sure you want to delete?</p>
          <a href="#" class="btn btn-block btn-danger"><i class="fa fa-trash-o"></i> Yes, Delete</a>
        </div>
      </div>
    </div>
  </div>

</template>
