<template name="folio">

  <div class="page-wrapper">

    <!-- SIDEBAR -->
    <div class="sidebar">
      <h2><i class="fa fa-university"></i> Folio Manager</h2>
      <p>Add, delete and edit content for the <a href="#">Folio</a> module.</p>
      <p>Placeholder text for explanation on how to add from Desk.</p>
    </div>

    <!-- FILE LIST -->
    <ul class="page-list">
      <li>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search Folio entries..."/>
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </li>
      <li>
        <img src="/img/temp/temp-manuscript.jpg"/>
        <div class="actions actions-folio">
          <a href="/folio/edit" class="btn btn-block btn-default"><i class="fa fa-edit"></i> Edit Entry</a>
          <a href="#" class="btn btn-block btn-default"><i class="fa fa-image"></i> Annotate Image</a>
        </div>
        <div class="meta meta-folio">
          <strong>London, British Library, Additional 89000 f. 1r
</strong>
          <small>Latin &bull; Uncial &bull; 698 AD</small>
          <small>Last saved by Abigail Firey on 7/16/14</small>
          <small>Published</small>
        </div>
      </li>
      <li>
        <img src="/img/temp/temp-manuscript.jpg"/>
        <div class="actions actions-folio">
          <a href="/folio/edit" class="btn btn-block btn-default"><i class="fa fa-edit"></i> Edit Entry</a>
          <a href="#" class="btn btn-block btn-default"><i class="fa fa-image"></i> Annotate Image</a>
        </div>
        <div class="meta meta-folio">
          <strong>London, British Library, Additional 89000 f. 1r
</strong>
          <small>Latin &bull; Uncial &bull; 698 AD</small>
          <small>Last saved by Abigail Firey on 7/16/14</small>
          <small>Draft</small>
        </div>
      </li>
      <li>
        <img src="/img/temp/temp-manuscript.jpg"/>
        <div class="actions actions-folio">
          <a href="/folio/edit" class="btn btn-block btn-default"><i class="fa fa-edit"></i> Edit Entry</a>
          <a href="#" class="btn btn-block btn-default"><i class="fa fa-image"></i> Annotate Image</a>
        </div>
        <div class="meta meta-folio">
          <strong>London, British Library, Additional 89000 f. 1r
</strong>
          <small>Latin &bull; Uncial &bull; 698 AD</small>
          <small>Last saved by Abigail Firey on 7/16/14</small>
          <small>Published</small>
        </div>
      </li>
      <li>
        <img src="/img/temp/temp-manuscript.jpg"/>
        <div class="actions actions-folio">
          <a href="/folio/edit" class="btn btn-block btn-default"><i class="fa fa-edit"></i> Edit Entry</a>
          <a href="#" class="btn btn-block btn-default"><i class="fa fa-image"></i> Annotate Image</a>
        </div>
        <div class="meta meta-folio">
          <strong>London, British Library, Additional 89000 f. 1r
</strong>
          <small>Latin &bull; Uncial &bull; 698 AD</small>
          <small>Last saved by Abigail Firey on 7/16/14</small>
          <small>Published</small>
        </div>
      </li>
      <li>
        <img src="/img/temp/temp-manuscript.jpg"/>
        <div class="actions actions-folio">
          <a href="/folio/edit" class="btn btn-block btn-default"><i class="fa fa-edit"></i> Edit Entry</a>
          <a href="#" class="btn btn-block btn-default"><i class="fa fa-image"></i> Annotate Image</a>
        </div>
        <div class="meta meta-folio">
          <strong>London, British Library, Additional 89000 f. 1r
</strong>
          <small>Latin &bull; Uncial &bull; 698 AD</small>
          <small>Last saved by Abigail Firey on 7/16/14</small>
          <small>Published</small>
        </div>
      </li>
    </ul>

  </div>


  <!-- DELETE MODAL -->
  <div class="modal fade" id="deleteModal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body text-center">
          <p>Are you sure you want to delete?</p>
          <a href="#" class="btn btn-block btn-danger"><i class="fa fa-trash-o"></i> Yes, Delete</a>
        </div>
      </div>
    </div>
  </div>

</template>
