<!-- Editor view -->
<!-- template for rendering basic metadata terms -->
<template name="mirador_editorView_showTextArea">
  <div class="sub-title"><textarea id="{{editorID}}">wheeee</textarea></div>
</template>

<!-- template for rendering tool bar with nav links -->
<template name="mirador_editorView_navToolbar">
  <div class="{{navToolbarCls}}">
    <a href="javascript:;" class="mirador-btn mirador-icon-scroll-view"></a>
    <a href="javascript:;" class="mirador-btn mirador-icon-thumbnails-view"></a>
    <a href="javascript:;" class="mirador-btn mirador-icon-load-editor"></a>
  </div>
</template>

