<template name="mirador_editorView_content">
  <div id="editorDiv-{{editorId}}" class="mirador-editor-content">
    {{#if fileIsType "pdf"}}
      <embed class="attachment-pdf" src="/file/{{getFileName}}" type="application/pdf">
      {{else}} 
      <textarea name="editor-{{editorId}}" id="editor-{{editorId}}">{{content}}</textarea>
    {{/if}}
  </div>
</template>

<template name="mirador_editorView_statusbar">
  <div class="editor-view-statusbar col-xs-12" style="display: inline-block;">
    <button class="btn btn-xs btn-primary" data-action="save">
      <span class="fa fa-floppy-o editor-save"></span> Save
    </button>
    {{#if saved}}
      <span class="saved-file pull-right">File saved.</span>
    {{/if}}
  </div>
</template>
