<template name="mirador_editorView_content">
  <div id="editorDiv-{{editorId}}" class="mirador-editor-content">
    {{#if fileIsType "pdf"}}
      <embed class="attachment-pdf" src="/file/{{getFileName}}" type="application/pdf">
      {{else}} 
      <textarea name="editor-{{editorId}}" id="editor-{{editorId}}">{{content}}</textarea>
    {{/if}}
  </div>
</template>

<template name="mirador_editorView_statusbar">
  {{#unless fileIsType 'pdf'}}
    <div class="editor-view-statusbar col-xs-12" style="display: inline-block;">
      <button class="btn btn-xs btn-primary" data-action="save" {{disabled}}>
        <span class="fa fa-floppy-o editor-save"></span> Save
      </button>
      {{#if locked}}
        <small>This file is currently locked for editing by {{owner}}.</small>
      {{/if}}
      <div class="saved-file-container pull-right">
        {{#if saved}}
          <span class="saved-file">File saved.</span>
        {{/if}}
      </div>
    </div>
  {{/unless}}
</template>
