<!-- Blaze overlay for annotations on OpenSeadragon -->
<template name="osd_blaze_overlay">
  <div style="position: absolute; left: 0; top: 0; width: 100%; height: 100%;">
    {{#if annotationPanelOpen}}
      {{#if newAnnotation}}
      {{else}}
        <div style="color: white; text-align: center;">Annotations</div>
      {{/if}}
      {{#each annotations}}
        {{> osd_blaze_overlay_annotation}}
      {{/each}}
    {{/if}}
    {{#if newAnnotation}}
      <div style="color: white; text-align: center;">Click and Drag to Add Annotation</div>
      {{#if newAnnotation.isDragging}}
        {{#with newAnnotation}}
          {{> osd_blaze_overlay_new_annotation}}
        {{/with}}
      {{/if}}
    {{/if}}
  </div>
</template>

<template name="osd_blaze_overlay_new_annotation">
  <div class="annotation-box" style="position: absolute; left: {{x}}px; top: {{y}}px; width: {{w}}px; height: {{h}}px; border: {{borderSize}}px solid #00ff00; background-color: rgba(0,0,0,0.25)">
  </div>
</template>

<template name="osd_blaze_overlay_annotation">
  <div class="annotation-box" style="position: absolute; left: {{x}}px; top: {{y}}px; width: {{w}}px; height: {{h}}px; border: {{borderSize}}px solid red; background-color: rgba(0,0,0,0.25)">
  </div>
</template>

<template name="osd_blaze_overlay_annotation_tooltip">
  {{#with reactiveAnnotation}}
    <textarea id="editor-{{_id}}" class="annotation-text">{{text}}</textarea>
    <select name="annotation-type">
      <option value="commentary" selected={{selectedIf 'commentary'}}>Commentary</option>
      <option value="transcription" selected={{selectedIf 'transcription'}}>Transcription</option>
    </select>
    <button class="btn btn-xs btn-primary" data-action="save-annotation" {{disabled}}>
      <span class="fa fa-floppy-o"></span> Save
    </button>
    <button class="btn btn-xs btn-default" data-action="delete-annotation" {{disabled}}>
      <span class="fa fa-times"></span> Delete
    </button>
  {{/with}}
</template>

