<!-- Image view -->
<!-- template for rendering tool bar with nav links -->
<template name="mirador_imageView_navToolbar">
  {{#if isOdd imageId}}
    <div class="mirador-osd-toolbar" id="{{osdToolbarId}}"></div>
    {{else}}
    <div class="mirador-osd-toolbar" id="{{osdToolbarId}}"></div>
  {{/if}}
  <div class="mirador-image-view-nav-toolbar">
    <a class="mirador-btn mirador-icon-annotations" title="Annotation Panel"></a>
    <a class="mirador-btn mirador-icon-metadata-view" title="Metadata View"></a>
    <a class="mirador-btn mirador-icon-scroll-view" title="Scroll View"></a>
    <a class="mirador-btn mirador-icon-thumbnails-view" title="Thumbnails View"></a>
    <a class="mirador-btn mirador-icon-previous" title="Previous Image"></a>
    <a class="mirador-btn mirador-icon-next" title="Next Image"></a>

    <a class="mirador-btn mirador-icon-load-editor" title="Create New Document"></a>
    <a href="/folio/edit" class="mirador-btn mirador-icon-send-folio" title="Send to Folio"></a>
  </div>
</template>

<template name="mirador_imageView_statusbar">
  <div class="mirador-image-view-statusbar">
    <a class="mirador-btn {{#if zoomLocked}}mirador-icon-locked{{else}}mirador-icon-lock{{/if}}" data-action="toggleLock"></a>
  </div>
</template>

<template name="mirador_imageView_content">
  {{#if isOdd imageId}}
    {{> mirador_imageView_content_osd}}
    {{else}}
    {{> mirador_imageView_content_osd}}
  {{/if}}
  {{#if annotationPanelOpen}}
    {{> mirador_imageView_annotationPanel}}
  {{/if}}
</template>

<template name="mirador_imageView_content_osd">
  <div class="mirador-osd" id="{{osdId}}">
  </div>
</template>

<template name="mirador_imageView_annotationPanel">
  <div class="annotationListPanel">
  <div class="resizeGrip"></div>
  {{> mirador_imageView_annotationStats}}
    <ul class="annotationList">
    {{#each annotations}}
      {{> mirador_imageView_annotationListing}}
    {{/each}}
    </ul>
  </div>
</template>

<template name="mirador_imageView_annotationStats">
  <div class="annotationPanelHeader">
    <h4>Annotations (<span class="annotationsTotal">{{annotationCount}}</span>)</h4>
    <a class="mirador-btn mirador-icon-annotorius" title="Create Annotation"></a>
    <a class="mirador-btn mirador-icon-download" title="Download Annotations"></a>
    <div class="annoSearch">
      <select class="annotationTypeSelector" name="annotationTypes">
        <option value="" selected={{selectedAnnotationType ''}}>All (<span class="annotationCount">{{annotationCount}}</span>)</option>
        <option value="commentary" selected={{selectedAnnotationType 'commentary'}}>Commentary (<span class="commentaryAnnotationCount">{{commentaryAnnotationCount}}</span>)</option>
        <option value="transcription" selected={{selectedAnnotationType 'transcription'}}>Transcription (<span class="transcriptionAnnotationCount">{{transcriptionAnnotationCount}}</span>)</option>
      </select>
    </div>
  </div>
</template>

<template name="mirador_imageView_noAnnotationMessage">
  <div class="annotationPanelHeader">
    <h4>No Annotations Provided</h4>
  </div>
</template>

<template name="mirador_imageView_annotationListing">
  <li id="listing_{{id}}" class="annotationListing">
    {{#if title}}
    <h3>{{title}}</h3>
    {{/if}}
    <p>{{{sanitized text}}}</p>
  </li>
</template>

<template name="mirador_imageView_annotationDetail">
  <div class="annotationDetails">
    <div class="annotationNumber">{{annotationNumber}}</div>
    <a class="annotationDetailToggle mirador-icon-annotationDetail-toggle" title="Hide this detail panel."><i class="icon-eye-close"></i></a>
    <p>{{{body}}}</p>
  </div>
</template>

<template name="mirador_imageView_annotationDetailToggle">
  <div class="displayBottomPanelButton">
    <a class="annotationDetailToggle mirador-icon-annotationDetail-toggle" title="Display annotation details in bottom panel."><i class="icon-eye-open"></i></a>
  </div>
</template>

