<!-- Metadata view -->
<template name="mirador_metadataView_content">
  {{#with metadata}}
    <div class="sub-title">Details (Metadata about physical object/intellectual work):</div>
    <dl class="metadata-listing">
      <dt>Label:</dt><dd>{{localized label}}</dd>
      <dt>Description:</dt><dd>{{localized description}}</dd>
    </dl>
    <div class="sub-title">Rights Metadata:</div>
    <dl class="metadata-listing">
      <dt>Attribution:</dt><dd>{{localized attribution}}</dd>
    </dl>
    <div class="sub-title">Linking Metadata:</div>
    <dl class="metadata-listing">
      {{#each links}}
        <dt>{{localized label}}:</dt><dd>{{localized value}}</dd>
      {{/each}}
    </dl>
    <div class="sub-title">About (Metadata about this manuscript's manifest file):</div>
    <dl class="metadata-listing">
        <dt>Context:</dt><dd>{{@context}}</dd>
        <dt>Id:</dt><dd>{{@id}}</dd>
    </dl>
  {{/with}}
</template>

<!-- template for rendering tool bar with nav links -->
<template name="mirador_metadataView_navToolbar">
  <div class="mirador-metadata-view-nav-toolbar">
    <a href="javascript:;" class="mirador-btn mirador-icon-scroll-view"></a>
    <a href="javascript:;" class="mirador-btn mirador-icon-thumbnails-view"></a>
  </div>
</template>


