<!-- Scroll view -->
<!-- template for rendering frame for hosting images -->
<template name="mirador_scrollView_imagesFrame">
  <div class="scroll-view-frame"></div>
</template>

<!-- template for rendering images in scroll view -->
<template name="mirador_scrollView_content">
  <div class="scroll-view-frame" style="width: {{scrollWidth}}; height: {{scrollHeight}}px">
    {{#each images}}
      <div id="mirador-scroll-item-{{../manifestId}}-{{index}}" class="item">
        <div class="image-instance">
          <a href="#" data-image-id="{{index}}">
            <img class="static-thumb" src={{uriWithHeight}} style="height: {{thumbHeight}}px;">
          </a>
        </div>
        <div class="title">{{title}}</div>
      </div>
    {{/each}}
  </div>
</template>

<!-- template for rendering tool bar with nav links -->
<template name="mirador_scrollView_navToolbar">
  <div class="mirador-scroll-view-nav-toolbar">
    <a href="javascript:;" class="mirador-btn mirador-icon-metadata-view"></a>
    <a href="javascript:;" class="mirador-btn mirador-icon-thumbnails-view"></a>
  </div>
</template>

